body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    padding: 12px 16px;
    border: 1.5px solid #344FA0;
    border-radius: 6px;
    font-size: 0.95rem;
    outline: none;
}